
.primary-color{
  color: white;
  background-color: blue;
}
.secondary-color{
  color: white;
  background-color: red;
}


.container-bg{
  background-color: gray;
}
.container-bg1{
  background-color: orange;
}

